---
layout: default
permalink: /team
title: "Team"
---

{% include header.html header_class="shadow-sm" %}

<main class="">

    <section class="">

        <div class="container" style="padding-top: 223px">

            {% include page-title.html page_title="Your Team." %}

            <div class="row equalize-team">
                {% include team-intro.html
                name="Joshua May"
                position="President & Founder"
                intro="Joshua May is an environmental conservation legend, celebrated entrepreneur, climate
                change policy champion and ReVenture’s President."
                %}

                {% include team-intro.html
                name="Julian Bolster"
                position="CEO & Founder"
                intro="Julian Bolster’s commitment to your potential, his unflagging pursuit of excellence, and his
                impeccable integrity make him the embodiment of \"anything is possible.\""
                %}

            </div>

            <div class="row equalize-team">
                {% include team-intro.html
                name="Stephen Lippa, M.Sc."
                position="Senior Consultant"
                intro="Stephen Lippa is a globe-trotting science geek. His curiosity has lead him around the world
                selling ideas, inspiring teams, and leading projects that produce impact."
                %}

                {% include team-intro.html
                name="Aram Melkoumov"
                position="Senior Consultant"
                intro="Aram Melkoumov is a start-up genius. He builds ideas into solutions through and with digital
                technology."
                %}
            </div>

            <div class="row equalize-team">
                {% include team-intro.html
                name="Dean Barone, ISSP"
                position="LEED Partner and Senior Consultant"
                intro="Dean Barone is from Houston, Texas and is the President of Barone International, a
                sustainability and LEED Consultancy firm headquartered in Manila, Philippines. Dean has been a LEED
                Accredited Professional since 2004 and holds three LEED
                specialty accreditations, BD+C, ID+C & O+M."
                %}

                {% include team-intro.html
                name="Karla Gonzalez, P.Eng"
                position="Reventure Advisor, Mexico"
                intro="Karla Gonzalez is an environmental activist of the highest order. She brings her urgent
                passion to create practical and meaningful solutions to the climate change challenge."
                %}
            </div>

            <div class="row equalize-team">
                {% include team-intro.html
                name="Itzel Morales M.Sc."
                position="Reventure Advisor, Mexico"
                intro="Itzel Morales is a super scholar with a heavily stamped passport. Her work in on a variety of
                business and environmental advocacy projects is fueled by her burning passion to make a difference."
                %}

                {% include team-intro.html
                name="Divya Nawale"
                position="ReVenture Advisor"
                intro="Divya is frequent-flyer and a young professional, passionate about environmental
                sustainability and committed to social responsibility."
                %}

            </div>


        </div>

    </section>

</main>

<footer class="footer" style="padding-top: 92px; padding-bottom: 60px">

    {% include footer-form.html footer_offset="" %}
    {% include foot.html footer_offset="" %}

</footer>

