input.form-control {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;

  &:focus {
    border-color: transparent;
    border-bottom-color: $green;
    color: $green;
  }

}

label {
  font-weight: bold;
}

.btn-hover-shadow {
  transition: all 200ms ease-in-out;

  &:hover, &:focus {
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.4);
  }
  //box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
}